<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.etools.mft.junit.launchConfigurationType">
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IIBDevApp_msgflow"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IIBDevApp"/>
</launchConfiguration>
